
/* */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poping", sans-serif;
} 
/* 總體字型及其他設定 */

header {
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 70px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
/* 導覽列的位置,顏色設定 */

.navigation a{
    position: relative;
    right: 10px;
    color: #ffffff;
    margin: 100;
    z-index: 99;
    font-size: 1.3em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    color: inherit;
    padding: 10px;
    border: 2px solid transparent;
} 
/* 導覽列的連結設定 */

.navigation a:hover {
    padding: 10px;
    border: #ffffff;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 15px;
}
/* 導覽列連結一上去會有的框框效果 */

.Logo {
    font-size: 2.5em;
    color: azure;
    user-select: none;
    align-items: center;
    justify-self: start;
    top: 50%;
}
/* logo的字型,顏色,位置設定 */

.About {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(/my-web/imgaes/bh_accretiondisk_sim_stationary_websize.gif);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 100px;
}
/* 首頁的背景大小,位置設定 */

.About-Content {
    position: relative;
    max-width: 700px;
    height: 400px;
    color: #ffffff;
    letter-spacing: .1em;
    text-shadow: 0 0 10px rgb(156, 156, 156);
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 首頁內容位置,顏色,間距大小,陰影效果設定 */

.About-Content p {
    padding: 10px 15px 25px;
    font-size: 1.5em;
    text-decoration: none;
    color: inherit;
    text-align: center;
}
/* 首頁文字內容文字大小,邊界設定 */

.About-Content a {
    padding: 8px 7px;
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, .5);
    font-weight: 100;
    font-size: 1.5em;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
} 
/* 首頁連結文字大小,邊界,邊界顏色,粗細設定 */

.About-Content a:hover {
    text-shadow: 10px 10px 10px;
}
/* 首頁滑鼠一上連結效果 */

.About h2 {
    font-size: 2.2em;
    padding: 10px 15px 25px;
}
/* 首頁標題大小 */
